<!DOCTYPE html>
<html>
	<head>
<%=render_partial 'layouts/head' %>
	</head>
	<body>
		<div id="header">
			<div class="container centered">
				<h1><%=link_to setting(:title), '/' %></h1>
				<div id="nav">
					<ul class="meta">
					<% if logged_in? %>
						<% if current_user.admin? %>
						<li><%=link_to t(:admincp), '/admin' %></li>
						<% end %>
						<li><%=link_to t(:usercp), '/usercp' %></li>
						<li><%=link_to t(:logout), '/logout' %></li>
					<% else %>
						<li><%=link_to t(:login), '/login' %></li>
						<li><%=link_to t(:register), '/register' %></li>
					<% end %>
					</ul>
					<% if current_project %>
					<ul>
						<li><%=link_to t(:info), current_project.href %></li>
						<li><%=link_to t(:issues), current_project.href('issues') %></li>
					</ul>
					<% end %>
				</div>
			</div>
		</div>
		<div id="page">
			<div class="container centered">
				<%=render_partial 'layouts/flash_messages' %>
				<%=yield%>
			</div>
		</div>
		<div id="footer">
			<div class="container centered">
				<%=t :copyright %>
			</div>
		</div>
	</body>
</html>
