<!doctype HTML>
<html>
	<head>
		<title><%= @title.reverse.join(' - ') %></title>
		<meta charset="utf-8">
		<%= css_link_tag '/assets/css/roadmap.css' %>
		<%= js_inc_tag '/assets/js/roadmap.js' %>
	</head>
	<body>
		<header id="header">
			<div class="page_width">
				<h1><%= if current_project then link_to(current_project.name, current_project.href) else link_to(setting(:title), '/') end %></h1>
				<nav id="nav">
					<ul>
					<% if current_project %>
						<li><%= link_to t(:issues), current_project.href('/issues') %></li>
						<li><%= link_to t(:roadmap), current_project.href('/roadmap') %></li>
						<li><%= link_to t(:timeline), '#' %></li>
					<% else %>
						<li><%= link_to t(:projects), '/' %></li>
						<li><%= link_to t(:activity), '/activity' %></li>
					<% end %>
					</ul>
				</nav>
			</div>
		</header>
		<div id="page">
			<div class="page_width">
				<%= yield %>
			</div>
		</div>
		<footer id="footer">
			<div class="page_width">
				<%=t :copyright %>
			</div>
		</footer>
	</body>
</html>