<div class="issues content">
  <h2><%=t :issues %></h2>
  <table class="listing">
    <thead>
      <tr>
        <th></th>
        <th><%=t :summary %></th>
        <th><%=t :type %></th>
        <th><%=t :status %>
        <th><%=t :priority %></th>
      </tr>
    </thead>
    <tbody>
    <% @issues.each do |i| %>
      <tr>
        <td><%= i.issue_id %></td>
        <td><%= link_to i.summary, i.href %></td>
        <td><%= i.type.name %></td>
        <td><%= i.status.name %></td>
        <td><%= i.priority.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>