<div class="issues content">
	<h2><%= L(:issues) %></h2>
	<table class="listing">
		<thead>
			<tr>
				<th></th>
				<th><%= L(:summary) %></th>
				<th><%= L(:status) %>
			</tr>
		</thead>
		<tbody>
		<% @issues.each do |i| %>
			<tr>
				<td><%= i.id %></td>
				<td><%= link_to i.summary, i.href %></td>
				<td></td>
			</tr>
		<% end %>
		</tbody>
	</table>
</div>