<div class="view_issue content">
  <div id="issue">
    <h2><%= @issue.summary %> <small>(#<%= @issue.issue_id %>)</small></h2>
    <section class="properties">
      <div class="property">
        <%= label t(:status) %>
        <span class="value"><%= @issue.status.name %></span>
      </div>
      <div class="property">
        <%= label t(:priority) %>
        <span class="value"><%= @issue.priority.name %></span>
      </div>
      <div class="property">
        <%= label t(:assignee) %>
        <span class="value"><%= link_to(@issue.assignee.username, @issue.assignee.href) if @issue.assignee %></span>
      </div>
      <div class="property">
        <%= label t(:component) %>
        <span class="value"><%= @issue.component.name if @issue.component %></span>
      </div>
      <div class="property">
        <%= label t(:milestone) %>
        <span class="value"><%= @issue.milestone.name %></span>
      </div>
      <div class="property">
        <%= label t(:affected_version) %>
        <span class="value"><%= @issue.version.name if @issue.version %></span>
      </div>
      <div class="property">
        <%= label t(:reported_by) %>
        <span class="value"><%= link_to @issue.user.username, @issue.user.href %></span>
      </div>
      <div class="property">
        <%= label t(:reported) %>
        <span class="value"><%= time_ago @issue.created_at %></span>
      </div>
      <div class="property">
        <%= label t(:updated) %>
        <span class="value"><%= time_ago @issue.updated_at %></span>
      </div>
      <div class="clearfix"></div>
    </section>
    <section id="description">
      <%= label t(:description) %>
      <div class="body">
        <%= format_text @issue.body %>
      </div>
    </section>
  </div>
</div>