<div class="login content">
	<form action="/login" method="post" class="form-horizontal">
		<div class="row">
			<div class="span6 centered">
				<h2 class="page_title"><%=t :login %></h2>
				<div class="box">
					<div class="control-group">
						<%=label t(:username), for: :username, class: 'control-label' %>
						<div class="controls">
							<%=text_field :username %>
						</div>
					</div>
					<div class="control-group">
						<%=label t(:password), for: :password, class: 'control-label' %>
						<div class="controls">
							<%=password_field :password %>
						</div>
					</div>
					<div class="actions">
						<%=submit_button t(:login), class: :btn %>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
