<div class="register content">
	<form action="/register" method="post" class="form-horizontal">
		<div class="row">
			<div class="span6 centered">
				<h2 class="page-title"><%=t :register %></h2>
				<%=show_errors @user.errors.full_messages %>
				<div class="box">
					<div class="control-group">
						<%=label t(:name), for: [:user, :name], class: 'control-label' %>
						<div class="controls">
							<%=text_field [:user, :name], value: @user.name %>
						</div>
					</div>
					<div class="control-group<%= if @user.errors.key?(:username) then ' error' end %>">
						<%=label t(:username), for: [:user, :username], class: 'control-label' %>
						<div class="controls">
							<%=text_field [:user, :username], value: @user.username %>
						</div>
					</div>
					<div class="control-group<%= if @user.errors.key?(:password) then ' error' end %>">
						<%=label t(:password), for: [:user, :password], class: 'control-label' %>
						<div class="controls">
							<%=password_field [:user, :password] %>
						</div>
					</div>
					<div class="control-group<%= if @user.errors.key?(:email) then ' error' end %>">
						<%=label t(:email), for: [:user, :email], class: 'control-label' %>
						<div class="controls">
							<%=email_field [:user, :email], value: @user.email %>
						</div>
					</div>
					<div class="actions">
						<%=submit_button t(:register), class: 'btn btn-success' %>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
