<div class="login_form content">
	<h2><%= L(:login) %></h2>
	<% if @error %>
	<div class="alert alert-error">
		<%= L(:invalid_username_or_password) %>
	</div>
	<% end %>
	<form action="/login" method="post" class="tabular box">
		<div class="group">
			<%= label L(:username), :for => [:user, :username] %>
			<%= input_field [:user, :username] %>
		</div>
		<div class="group">
			<%= label L(:password), :for => [:user, :password] %>
			<%= password_field [:user, :password] %>
		</div>
		<div class="group">
			<%= submit_button L(:login) %>
		</div>
	</form>
</div>