<div class="register_form content">
  <h2><%=t :register %></h2>

  <% show_errors @user.errors %>
  <form action="/register" method="post" class="tabular box">
    <div class="group">
      <%= label t(:username), :for => [:user, :username] %>
      <%= input_field [:user, :username] %>
    </div>
    <div class="group">
      <%= label t(:full_name), :for => [:user, :name] %>
      <%= input_field [:user, :name] %>
    </div>
    <div class="group">
      <%= label t(:password), :for => [:user, :password] %>
      <%= password_field [:user, :password] %>
    </div>
    <div class="group">
      <%= label t(:email), :for => [:user, :email] %>
      <%= input_field [:user, :email] %>
    </div>
    <div class="group">
      <%= submit_button t(:register) %>
    </div>
  </form>
</div>