<div class="content">
  <h2><%=t :projects %></h2>
  <div id="projects">
  <% @projects.each do |p| %>
    <div class="project">
      <h2><%= link_to p.name, p.href %></h2>
      <div class="quick_links">
        <ul>
          <li><%= link_to t(:issues), p.href('/issues') %></li>
          <li><%= link_to t(:roadmap), p.href('/roadmap') %></li>
          <li><%= link_to t(:timeline), p.href('/timeline') %></li>
        </ul>
      </div>
      <div class="info">
        <%= format_text p.description %>
      </div>
    </div>
  <% end %>
  </div>
</div>